*{
    margin: 0%;
}
body
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0%;
    /*display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    "header header . . . ."
    "carrousel carrousel carrousel carrousel carrousel carrousel"
    "main main main main main asid "
    "main main main main main asid "
    "footer footer footer footer footer footer";
    font-family: Cambria, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4em;*/
  background:transparent url(../images/bgbody.jpg) repeat top left;
  font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;


}

/***************** L'entete******************************/
header{
    width: 100%;
    grid-area: header;
    margin-bottom: 5rem;
    padding: 2rem;
    text-transform:uppercase;
    font-size: 1rem;
    
}
        /*----------Titre/Logo------------*/
h1{
    color:#721336;
    text-decoration: underline overline double #FB6F54;

}
/*****************Le menu horizontal*****************/
nav{
    grid-area: menuh;
}
.topnav{
display: none;
}
nav a{
    text-decoration: none;
    color: black;
}
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 10px;
    list-style: none;
    z-index:999999;
    text-transform:uppercase;

}

ul#navigation li {
    display:inline;
    
    margin-left:1px;

}
.active{
    color:#721336;
    
    }
ul#navigation li a {
    display: block;
    font-weight:bold;
    text-shadow:1px 1px 1px #fff;
    float:left;
    background:transparent url(../images/item.png) no-repeat bottom right;
    text-decoration:none;
    text-align:center;
    padding:80px 10px 10px 10px;
    margin-top: -40px;
    cursor:pointer;

}
/*******************Le diaporama auto presente des photos general sur la dynastie ***************/
.diapoauto{
    
    display: flex;
    justify-content: center;
    background-color:white;
    margin:2rem 2.2rem 2rem 2.2rem;
    padding: .5rem;
    box-shadow: 1px 1px 12px #555;

}
.premiere{
       height: 25rem;
       width: 100%;
}
.single-item{
       width: 100%;
       text-align: center;


   }
.panel {
    height:25rem;
    background: #ccc;
    
    font-size: 72px;
    text-align: center;
    line-height: 25rem;
}
.slick-next::before {
  color: #FB6F54;
  font-size: 50px;
}
.slick-dots li button:before{
    color: #FB6F54;
    font-size: 8px;
}
/****Conteneur principal*******/
.contenu{
    display: flex;
    flex-direction: row;
    /*background-color: #721336; */  

}


/*******Le main contenant les articles****/

main{
    width:70%;
    display:flex;
    flex-direction: column;
    /*background-color:#721336;*/
    background-color: white;
    margin-left: 2.2rem;
    background:transparent url(../images/bg.gif);
    background-repeat: y-repeat;
    padding-bottom: 4rem;
   


}
h2{
    padding-left: 6rem;
    padding-top:4rem;
    padding-bottom: 1.5rem;
    color: #721336;
}
p{
    text-align: justify;
    line-height: 2;
    color: #59545f;
    ;
    font-weight: bold;
   
    /*color: white;*/
    padding-left: 7rem;
    padding-right: 5rem;
}

.roi{
    float:left;
    margin-left: 1.2rem;
    margin-bottom: 0.2rem;
    margin-right: 1.2rem;
}
/*********Diapo manu**********/
.diapomanu{
    margin: 0rem 4rem 2rem 2rem;
    display: flex;
    justify-content: center;
    margin:2rem 10rem 2rem 10rem;
    padding: .5rem;
    box-shadow: 1px 1px 12px #555;
    background-color: #555;

}
.photor{
    height: 100%;
       width: 100%;
}
.single-item-manu{
       width: 50%;
       text-align: center;


   }
.panel-manu {
    height:10rem;
    background: #ccc;
    
    font-size: 72px;
    text-align: center;
}
.slick-next::before {
    color: #FB6F54;
    font-size: 2rem;
    margin-left: 1rem;

}
.slick-prev {
    left: -52px;
}
.slick-dots li button:before{
    color: #FB6F54;
    font-size: 8px;
}
.slick-prev::before{
    color: #FB6F54;
    font-size: 2rem;
    margin-right: 2rem;

}
/****Conteneur principal*******/
.contenu{
    display: flex;
    flex-direction: row;
    /*background-color: #721336; */  

}

/********partie droite **********/
aside{
    width: 30%;
    margin-left:0.5rem;
    margin-right: 2.2rem;
    background-color:#721336;
    color: #fff;
    display: flex;
    flex-direction: column;

    padding: 1rem;

}
.dateHeure{
    display: flex;
    flex-direction: column;
    background-color: #FB6F54;

}
#date{
    font-size: 1.2rem;
    text-align: center;
    padding: 0.2rem;

}
#heure{
    background-color: #fff;
    border-radius: 10% 30% 50% 70%;
    box-shadow: 1px 1px 12px #555;
    width: 50%;
    text-align: center;   
    margin-left:3rem; 
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.8rem;

    



}
.myButton {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    text-align: center;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}

/**********Formulaire*******/
h3{
    padding: .1rem 0.2rem;
    color: #721336;
}
.Aderation{
    background-color: #bb945b;
    margin-top:0.5rem;
    padding: 0.5rem;
}
form{
	display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
fieldset{
	display: flex;
	flex-direction: column;
}


input,
label {
    margin: .4rem 0;
    width: 100%;
}
input{
    
    border: 1px solid #B2B2B2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px 0 rgba(168, 168, 168, 0.6) inset;
    margin-top: 4px;
    padding: .5rem 0.1rem;
    
}

/*************Le pieds de page****/
footer{
    margin-top: 1rem;
    margin-right: 2.2rem;
    margin-left: 2.2rem;
    grid-area: footer;
    background-color:#bb945b;
  
}
footer p{
    text-align: center;
    color:#fff;
}

/*******************************petits ecrans***************************/
@media all and (max-width: 1024px)
{
    body{
        font-size: 17px;
    }
    h1{
        margin:2.7rem 0rem;

    }
    nav{
        display: none;
    }
    .contenu{
        display: flex;
        flex-direction: column;
    }
    .contenu>*{
        width: 100%;
    }
    main{
        margin:0.5rem;
    }
    main p{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .roi{
        text-align: center;
        margin-left: 1.2rem;
        margin-bottom: 0.2rem;
        margin-right: 1.2rem;
    }

    

   
    input{
        height: 5rem;
    }
    
        
    
    .topnav {
        display: block;
        position: fixed;
        z-index:999999;

        margin: 0px;
        padding: 0px;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-color: #333;
        width: 100%;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color:#721336;
        color: white;
      }

}






