body{
	display: flex;
	flex-direction: column;

}
body>*{
	background-color: #94ADDE;

}
nav{
	position: fixed;
	width: 50%;
	top: 0px;
    right: 10px;
    height: 7rem;
	background-color:#FE4481;

}
header{
	width: 30%;
	height: 12rem;
	margin-bottom: 1rem;
}
.diapoauto{
	height: 25rem;
	width: 100%;
	margin-bottom: 1rem;
}
.contenu
{
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}
main{
	width: 70%;
	height: 60rem;
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
	background-color: #79BC32;
}
main>*{
	background-color: #563D7C;
	margin:0.2rem;
	height:10rem;
}
aside{
	width: 30%;
	height: 10rem;
	background-color: #C96B01;

}
footer{
	width: 100%;
	height: 10rem;
}
