.panel {
  background: #ccc;
  height:200px;
  margin: 10px;
  font-size: 72px;
  text-align: center;
  line-height: 200px;
}
body{
  padding: 50px;
}
.single-item{
  background-color:white;
}
body{
 background-color :aquamarine;}